<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:url" content="http://future.click" />
  <meta property="og:title" content="Future's Market" />
  <meta property="og:description" content="A Market for the Future" />
  <meta property="og:image" content="http://future.click/share.jpg" />
  <link rel="canonical" href="http://future.click/">
  <title>Future's Market</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <!-- <script src="main.js"></script> -->
</head>

<body>
  <div id="container">
    <div id="main">

      <section class="page" id="header">
        <div id="inner-header">
          <img id="logo" src="logo1.png" />
          <p id="tagline">
            The Store of Tomorrows
          </p>
          <br>
          <br>
          <nav>
            <a href="#whatitis">What It Is</a>
            <a href="#signup">Participate</a>
            <a href="#faq">FAQ</a>
          </nav>

        </div>
      </section>

      <section class="page">
        <a name="whatitis"></a>
        <h1>What it is</h1>
        <p>At Future's Market we: </p>
        <ol>
          <li>Interface with the vast data stores of knowledge about an individual that exist in the various surveillance networks.</li>          
          <li>Combine cutting edge machine learning and AI techniques with those data stores.</li>
          <li>Rewrite our customers' digi-realities.</li>
        </ol> 
        <p>Remember, as we like to say here at Future's Market, "What you do with your digi-reality, is your business! But it can also be ours!". </p>


      </section>


      <!-- <section class="page">
        <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://player.vimeo.com/video/155320646?title=0&byline=0&portrait=0' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
      </section> -->

      <section id="signup" class="page">
        <a name="signup"></a>
        <h1>Participate</h1>
        <p>Future's Market is going to be setting up soon in a neighborhood near you! Sign up to be notified of our next pop-up.</p>
        <form style="border:1px solid #ccc;padding:3px;text-align:center;" action="http://eepurl.com/gplCfL" method="post" target="popupwindow" onsubmit="window.open('http://eepurl.com/gplCfL', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p><input type="submit" value="Subscribe" /></p></form>

        

      </section>

      <section class="page">
        <a name="faq"></a>
        <h1>FAQ</h1>
 
        <h3 class="question">Q: What is the future?</h3>
        <p class="answer">A: The future is the "time" in which the waymarker of the present has been moved forward, thus rendering the present into a new material known commonly as "the past". Since time immemorial, mankind has concerned itself with the future. Scholars, philosophers, and great minds have pondered its nature, but it is only recently that we as a collective species have begun to understand this mysterious substance.

        </p>

        <h3 class="question"> 
            Q: Why should I shop at Future's Market?
          </h3>
        <p class="answer">A: Future's Market is here to help with any of the myriad of life's withering hardships.</p>

        <h3 class="question"> 
          Q: What types of services can Future's Market provide me?
        </h3>
      <p class="answer">A: At the moment Future's Market currently offers six distinct services. We provide personality reassignments, bionetic scrying, garbage readings, biometric scrambling, infrastructural scrambling, and affect juice jars. In all of these services we make use of the ever-present internet of things infrastructure to influence your future in subtle yet powerful ways.</p>
        <h3 class="question">
          Q: But what is this really?
        </h3>  
        <p class="answer">A: <a href="/thefutch">I don't know what you mean.</a></p>
    </section>



      <section class="page">
        <h1>About</h1>
        Project by <a href="http://alden.website/">Alden Rivendale Jones</a>.<br>
      </section>

    </div>
  </div>

  <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-65359720-6', 'auto');
    ga('send', 'pageview');
  </script>
</body>

</html>
